.MuiPaper-root
{
    height: 90%;
}
#experience
{
    margin: 30px;
    margin-left: 29px;
}
/* a:link {
    text-decoration: none;
    color: red;
  }
  
  a:visited {
    text-decoration: none;
  } */
  

  a:link{
    background-color:black;
    color: white;
    padding: 3px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }
  .MuiGrid-spacing-xs-2 {
    width: calc(100% + 16px);
    margin: -80px;
}
.MuiGrid-justify-content-xs-center {
  justify-content: center;
}
.MuiGrid-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
